# FastAPI 核心
fastapi==0.135.3
uvicorn[standard]==0.44.0
starlette==1.0.0

# 数据库
sqlalchemy==2.0.49
aiomysql==0.3.2
alembic==1.18.4
pymysql==1.1.2

# 数据验证
pydantic==2.12.5
pydantic-settings==2.13.1
pydantic-extra-types==2.11.1
email-validator==2.3.0

# JWT 和认证
python-multipart==0.0.22
bcrypt==3.2.2
passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.5.0

# 环境变量
python-dotenv==1.2.2

# 工具库
watchfiles==1.1.1
httpx==0.28.1

#执行安装命令的代码：
#pip install -r requirements.txt
